/*** CPQ THEME VARIABLES ***/
@import "cpq-theme-variables";

/*** MIXINS ***/
@import "cpq-mixin";

/*** STYLES ***/
.vlocity {
    &.via-slds {
        .cpq-promtions-list {
            display:flex;
            flex: 1 ;


            //stretch the flex box irrespective of its contents
            .cpq-promotions-list-vertical {
                &.slds-grid{
                    flex-direction:column;

                    &.cpq-promotions-list-col-stretch{
                        flex:1 1 100%;
                    }
                }

                .cpq-no-promotions-msg {
                    margin:auto;
                }

                .cpq-next-product {
                    padding: $cpq-padding-large-vertical;
                }

                .cpq-spinner_container {
                    position: relative;
                    padding-top: 10px;
                }
            }
        }
    }
}