/*** ASSETS THEME VARIABLES ***/
@import "comp-assets-theme-variables";

/* $assets-namespace is defined in cpq-base-variables */
$namespace: $assets-namespace;

/*** STYLES ***/
.vlocity {
    &.via-slds {
        .comp-#{$namespace}-header-card {
            .fix--slds-dropdown-to-btn {
                left: -110%;
            }
        }
    }
}

[dir=rtl] .vlocity {
    &.via-slds {
        .comp-#{$namespace}-header-card {
            .fix--slds-dropdown-to-btn {
                right: -1rem;
            }
        }
    }
}