<div class="slds-grid slds-grid--vertical cpq-products scroll">
    <div class="slds-col slds-no-flex slds-input-has-icon slds-input-has-icon--left cpq-product-searchbox">
        <slds-svg-icon sprite="'utility'" size="'x-small'" icon="'search'" extra-classes="'slds-input__icon slds-icon-text-default'"></slds-svg-icon>
        <!--<input type="text" class="slds-input" placeholder="Search" ng-model="$parent.searchTerm"/>-->
        <input type="text" class="slds-input" placeholder="Search" ng-model="importedScope.searchTerm" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }" ng-change="importedScope.searchProducts()" />
    </div>
    <div class="slds-col slds-no-flex cpq-product-filter">
        <section class="slds-clearfix slds-text-body--small">
            <div class="slds-float--left">
                <a>
                    SORT BY NAME
                    <!--<span class="slds-icon_container">-->
                        <!-- <slds-svg-icon sprite="'utility'" size="'x-small'" icon="'chevrondown'" extra-classes="'slds-icon-text-default'"></slds-svg-icon> -->
                    <!--</span>-->
                </a>
            </div>
            <div class="slds-float--right">
                <a ng-click="filters.show = !filters.show">
                <!--<p ng-click="importedScope.openFilter()">-->
                    FILTER
                    <!--<span class="slds-icon_container">-->
                        <!-- <slds-svg-icon sprite="'utility'" size="'x-small'" icon="'chevrondown'" extra-classes="'slds-icon-text-default'"></slds-svg-icon> -->
                    <!--</span>-->
                </a>
            </div>
        </section>
    </div>
    <div class="slds-col cpq-items-container scroll cpq-product-filter" ng-if="filters.show">
        <vloc-layout layout-name="cpq-product-filters" ctrl="CPQProductListController"></vloc-layout>
    </div>
    <div class="slds-col cpq-items-container scroll" ng-show="!filters.show">
        <div class="slds-spinner_container" ng-if="!isLoaded">
            <div class="slds-spinner--brand slds-spinner slds-spinner--medium" aria-hidden="false" role="alert">
                <div class="slds-spinner__dot-a"></div>
                <div class="slds-spinner__dot-b"></div>
            </div>
        </div>
        <vloc-card ng-repeat="card in cards |filter: searchFunc(card)" ctrl="CPQProductItemController" ng-model="card" data="card" records="records" index="{{$index}}" session-id="{{sessionId}}" ng-if="isLoaded"></vloc-card>
        <div class="slds-grid slds-grid--vertical-align-center slds-grid--align-center cpq-no-products-msg" ng-if="records.length === 0">
            No products available.
        </div>
        <div class="next-product slds-col slds-text-align--center slds-m-vertical--medium"  ng-if="session.nextProducts">
            <div class="slds-spinner_container" ng-if="loadingMore">
                <div class="slds-spinner--brand slds-spinner slds-spinner--small" aria-hidden="false" role="alert">
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
            <a ng-click="importedScope.nextPage()" ng-if="!loadingMore">
              Load More
            </a>
        </div>
    </div>
    <!-- Adding several products at one is not supported for now
    <div class="slds-col slds-no-flex">
        <div class="slds-grid cpq-product-actions">
            <button class="slds-col slds-button slds-button--brand"
            ng-click="importedScope.addProducts()"
            ng-disabled="importedScope.productsToAdd.length === 0">
                Add to cart
            </button>
            <button class="slds-col slds-button slds-button--brand"
            ng-click="importedScope.compare()"
            ng-disabled="importedScope.productsToCompare.length < 2">
                Compare
            </button>
        </div>
    </div>
    -->
</div>